<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <h1>You are editing you pokemon '{{foundPokemon.name}}'!</h1>
    <br>
    <form class="updatePoke" action="/pokemon/{{foundPokemon.name}}" method="post">
        <br>
        <label>name</label><input type="text" name="name" value="{{foundPokemon.name}}">
        <br>
        <label>Type</label><input type="text" name="type" value="{{foundPokemon.type}}">
        <br>
        <label>gender</label><input type="text" name="gender" value="{{foundPokemon.gender}}">
        <br>
        <label>size</label><input type="text" name="size" value="{{foundPokemon.size}}">
        <br>
        <label>health</label><input type="text" name="health" value="{{foundPokemon.health}}">
        <br>
        <label>first name</label><input type="text" name="owner.name.firstName" value="{{foundPokemon.owner.name.firstName}}">
        <br>
        <label>last name</label><input type="text" name="owner.name.lastName" value="{{foundPokemon.owner.name.lastName}}">
        <br>
        <label>owner gender</label><input type="text" name="owner.gender" value="{{foundPokemon.owner.gender}}">
        <br>
        <input type="submit" value="update">
    </form>
    <form action="/delete/{{foundPokemon._id}}">
        <input type="submit" class="deleteBtn" value="DELETE">
    </form>



</body>

</html>